.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 102px;
  height: 48px;

  font-size: 12px;
  color: #fff;
  font-weight: 600;

  &--black {
    background-color: $mainColor;
  }
}
